@charset "utf-8";
@import '_utils.scss';


//다크모드
#wrap{
    position: relative;
    width: 100%;
    height: auto;
    min-height:100vh;
    padding-bottom:79px;
    
    @each $theme in dark, light{
        &.#{$theme}{
            @include theme($theme);
            //header
            header{
                .search-bar{
                    button{
                        background:url($img_ico+$theme+'/ico_search.png')no-repeat 0 0;
                    }
                }
                .ico-btn{
                    &.my{
                        background:url($img_ico+$theme+'/ico_my.png')no-repeat 0 0;
                    }
                    &.noti{
                        background:url($img_ico+ $theme+'/ico_noti.png')no-repeat 0 0;
                    }
                }
            }
            //메뉴
          /*  .menu-tatto{
                ul li{
                    &.arrow.bot{
                        .tit{
                            background: url($img_ico+$theme+'/ico_arrow_bot.png')no-repeat right center;
                        }
                    }
                }
                .menu-btn button{
                    &.menu{
                        background:url($img_ico+$theme+'/ico_menu.png')no-repeat right center;
                    }
                    &.notice{
                        background:url($img_ico+ $theme+'/ico_noti.png')no-repeat 0 0;
                    }
                }
            }*/

            .img-list{
                .tit-box{
                    .tit-btn{
                        button.tit-menu{
                            background-image:url($img_ico+ $theme+'/ico_more.png');
                        }
                    }
                }

                .btn-box-wrap{
                    .btn-box{
                        button{
                            &.like{
                                background-image:url($img_ico+'/ico_heart_off.png');
                                &.on{
                                    background-image: url($img_ico+ $theme+'/ico_heart.png');
                                }
                            }
                            &.review{
                                background-image:url($img_ico+ $theme+'/ico_message.png');
                            }
                            &.share{
                                background-image:url($img_ico+ $theme+'/ico_share.png');
                            }
                            &.favorite{
                                background-image:url($img_ico+ $theme+'/ico_favorites.png');
                            }
                        }
                    }
                }
            }

            //푸터
            footer{
                .inner{
                    &.mobile-footer{
                        button{
                            &.home{
                                background:url($img_ico+ $theme+'/ico_home.png')no-repeat 0 0;
                            }
                            &.menu{
                                background:url($img_ico+ $theme+'/ico_homeBtn.png')no-repeat 0 0;
                            }
                            &.my{
                                background:url($img_ico+ $theme+'/ico_my.png')no-repeat 0 0;
                            }
                        }
                    }
                }
            }



        }
    }
    &.dark{
        //header
        .search-bar{
            input{
                background:#282828;
            }
        }
        .header-btn{
            .upload{
                background-image: linear-gradient(#222, #222), linear-gradient(to right, #6EFF71, #3FD1FD);
            }
        }
       
        //footer
        footer{
            background:#1a1a1a;
        }
    }
    &.light{
        //header
        .search-bar{
            input{
                border:1px solid #e1e1e1;
                background:#f6f6f6;
            }
        }
        .header-btn{
            .upload{
                background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #6EFF71, #3FD1FD);
            }
        }
      
        //팝업
        .view-layer-wrap{
            .in{
                background:#fff;
                .tit{
                    border-bottom:1px solid #ddd;
                    .close-btn{
                        &::after,
                        &::before{
                            background:#555;
                        }
                    }
                }
                .con{
                    .login-list{
                        ul{
                            li a.gogle{
                                color:#333;
                            }
                        }
                    }
                }
            }
        }

        //footer
        footer{
            background:#efefef;
        }
    }
  } 


//헤더
header{
    padding:16px 0 14px;
    border-bottom:1px solid #333;
    .inner{
        @include flexBetween;
        gap: 3%;
        //padding:0 50px 0 78px;
    }
    .logo{
        span{
            display: block;
            text-align: center;
            margin-top: 5px;
            font-size:12px;
        }
    }
    .search-bar{
        width:  704px ;
        position: relative;
        input{
            width: 100%;
            height:46px;
            padding-left:60px;
            border-radius:35px;
            border:1px solid #444;
        }
        button{
            position: absolute;
            top:50%;
            left:24px;
            transform: translateY(-50%);
            width: 24px;
            height:24px;
            background-size: contain;
        }
    }
    .header-btn{
        @include flexCenter;
        gap:15px;
        .upload{
            width:280px;
            height: 46px;
            border:2px solid transparent;
            border-radius: 26px;
            background-color:transparent;
            background-origin: border-box;
            background-clip: content-box, border-box;
            span
            {   
                font-weight:900;
                font-size:1.625em;
                color: transparent;
                letter-spacing: -1px;
                background: linear-gradient(to right, #6CFD75 , #41D3F8 );
                background-clip: text;
                strong{
                    font-weight:900;
                    font-size:1.750rem;
                }
            }
        }
    }
}
//타투메뉴
.menu-tatto{
    padding-top:40px;
    .menu-btn{
        display: none;
    }
    ul{
        @include flexCenter;
        gap:15px;
        li{
            width: 74px;
            text-align: center;
            a{
                display: block;
                height:74px;
                line-height:74px;
                border-radius:20px;
                background:url($img_common + "img_menu.png")no-repeat 0 0;
                &:hover{
                    color:#222;
                    font-weight:800;
                    background:#6EFF71;
                }
            }
            &.normal{
                a{
                    background:rgba(85,85,85,.5);
                    border:1px solid #555;
                    &:hover{
                        color:#fff;
                    }
                }
                
            }
            &.arrow{
                a{
                    span{
                        background:url('')
                    }
                }
            }
            &.select{
                a{
                    background-image: url($img_common + "ico_menu.png");
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}

//푸터
footer{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
   .inner{
        @include flexBetween;
        padding:22px 50px;
        p{
            color:#bcbcbc;
            font-size:1em;
        }
        ul{
            @include flexBetween;
            gap:30px;
            &.txt{
                li{
                    a{ 
                        font-size:1.250em;
                        color:#7a7a7a;
                        font-weight:bold;
                    }
                }
            }
            &.ico{
                li{
                    a{
                        display:block;
                        width:35px;
                        height:35px;
                        background-size:contain;
                        &.facebook{
                            background:url($img_ico + 'ico_facebook.png')no-repeat 0 0;
                        }
                        &.twitter{
                            background:url($img_ico + 'ico_twitter.png')no-repeat 0 0;
                        }
                        &.instargram{
                            background:url($img_ico + 'ico_instagram.png')no-repeat 0 0;
                        }
                    }
                }
            }
        }

        &.mobile-footer{
            display: none;
        }
   }
}


@include MediaTablet{
    header{
        padding:3% 0;
        .logo{
            //width: 30%;
            min-width:130px;
            /*img{
                width: 100%;
            }*/
            span{
                display: none;
            }
        }
        .header-btn{
            display: none;
        }
        .search-bar{
            margin:0 0 0 3%;
            width: 100%;
            input{
                height:50px;
                font-size:1.286em;
            }
        }
    }

    .menu-tatto{
        overflow-x:scroll;
        @include flexCenter;
        padding:3%;
        .menu-btn{
           
           position: absolute;
           left:0;
           @include flexCenter;
           height:60px;
           padding-left:3%;
           z-index: 2;
           background:#333;
           display: none;
            button{
               width:40px;
               height:40px;
               text-indent:-99999px;
            }
        }
        ul{
            gap: 15px;
            li{
                width: 80px;
                a{
                    .bg-img{
                        display: none;
                    }
                    .tit{
                        padding: 10px 6px;
                        border-radius:10px;
                        color: #111 !important;
                        background:#6eff71;
                    }
                    &:hover{
                        .tit{
                            display: block;
                        }
                    }
                }

                &.arrow{
                    border-radius:10px;
                    //background-color:#6eff71;
                }
            }
        }
    }

    footer{
        position: fixed;
        bottom:0;
        left:0;

        .inner{
            padding:3%;
            &.pc-footer{
                display: none;
            }
            &.mobile-footer{
                @include flexCenter;
                gap:20%;
                button{
                    width: 4vw;
                    height: 4vw;
                    min-width:32px;
                    min-height:32px;
                    text-indent:-99999px;
                    background-size:contain !important;

                    &.menu{
                      width:5vw;
                      height:5vw;
                      min-width:40px;
                      min-height:40px;
                    }
                    
                }
            }
        }
    }
}

@include MediaMobile{
    .menu-tatto{
        padding:3%;
        .menu-btn{
            display: none;
            button{
                width: 30px;
                height:30px;
                background-size:contain !important;
            }
        }
    }
  
}

//레이어
.view-layer-wrap{
    .in{
        text-align: center;
        border-radius:30px;
        background:#333;
        .tit{
            position: relative;
            @include flexCenter;
            height:63px;
            border-bottom:1px solid #f8f8f8;
            h1{
                font-size:1.125em;
            }
            .close-btn{
                position: absolute;
                top: 50%;
                left:3%;
                width: 20px;
                height:20px;
                text-indent: -9999px;
                z-index: 9;
                transform: translateY(-50%);
                &::after,
                &::before{
                    content:"";
                    position:absolute;
                    top: 0;
                    left:15px;
                    display: block;
                    width: 1.5px;
                    height:20px;
                    border-radius:40px;
                    background:#fff;
                }
                &::after{
                   transform:rotate(45deg);
                }
                &::before{
                    transform:rotate(-45deg);
                }
            }
        }
        &.login{
            width:568px;
            .con{
                padding:147px 3% 76px;
                h2{
                    img{
                        width: 16em;
                    }
                    span{
                        display: block;
                        margin-top:10px;
                        text-align: center;
                        color:#ccc;
                    }
                }
                .login-list{
                    padding-top:140px;
                    ul{
                        li{
                            width: 350px;
                            height:52px;
                            margin:0 auto 13px;
                            a{
                                display: block;
                                line-height: 52px;
                                border-radius:25px;
                                color:#fff;
                                font-weight:700;
                                &.gogle{
                                    border: 1px solid #d9d9d9;
                                    line-height:50px;
                                    background:url($img_ico + 'ico_gogle.png')no-repeat 30px center;
                                }
                                &.kakao{
                                    color:#444;
                                    background:#FFEA12 url($img_ico + 'ico_kakao.png')no-repeat 30px center;
                                }
                                &.facebook{
                                    background:#1877F2 url($img_ico + 'ico_face.png')no-repeat 30px center;
                                }
                                &.naver{
                                    background:#00C73C url($img_ico + 'ico_naver.png')no-repeat 30px center;
                                }
                            }
                        }
                    }
                }
            }
        
        }
        &.profile{
            width: 568px;
            .con{
                padding:36px 34px;

                .profile-form{
                    > ul{
                        > li{
                            padding-bottom:36px;
                            text-align:left;
                            strong{
                                display: block;
                                margin-bottom:15px;
                                font-size:1.125em;
                                span{
                                    color:#777;
                                    font-size:0.938em;
                                    &.col{
                                        color:#6EFF71;
                                    }
                                }
                            }
                            .input-box{
                                position: relative;
                                margin-bottom:15px;
                                input{
                                    width: 100%;
                                    line-height:44px;
                                    padding-left:18px;
                                    border:1px solid #555;
                                    border-radius:10px;
                                    background:none;
                                    &::placeholder{
                                        color:#ccc;
                                    }
                                }
                                .txt-length{
                                    position: absolute;
                                    top:50%;
                                    right:18px;
                                    transform: translateY(-50%);
                                    color:#555;
                                    span{
                                        color:#777;
                                    }
                                }
                            }
                            .ps-txt{
                                padding-left:23px;
                                margin-top:5px;
                                font-size:0.875em;
                                color:#ff5a5a;
                                background:url($img_ico + 'ico_x.png')no-repeat 0 center;
                                background-size:contain;
                                &:first-child{
                                    margin-top:0;
                                }
                                &.on{
                                    color:#2272ff;
                                    background:url($img_ico + 'ico_v.png')no-repeat 0 center;
                                }
                            }
                            .basic-list{
                                padding-top:9px;
                                li{
                                    display:flex;
                                    align-items: center;
                                    gap: 13px;
                                    padding-left:8px;
                                    font-size:0.813em;
                                    color:#777;
                                    line-height:1.6;
                                    &::before{
                                        clear:both;
                                        content:"·";
                                        display: block;
    
                                    }
                                }
                            }
                        }
                    }
                    button{
                        width: 300px;
                        height:56px;
                        border-radius:50px;
                        font-size:1.250em;
                        color:#222;
                        font-weight:800;
                        background:#6eff71;
                    }
                }
            }
        }
        &.block{
            width: 614px;
            .con{
                
                .con-in{
                    padding:3%;
                    p{
                        padding-bottom:3%;
                    }
                    select{
                        width: 100%;
                        height: 40px;
                        padding: 0 10px;
                        border-radius:10px;
                        color:#555;
                    }
                }
                .btn-wrap{
                    display: flex;
                    justify-content: center;
                    border-top:1px solid #111;
                    button{
                        width: 100%;
                        height:50px;
                        border-right:1px solid #111;
                        &.t1{
                            color:#6EFF71;
                            border-right:0;
                        }
                    }
                }
            }
        }
    }
   
}

.check-box{
    ul{
        padding-bottom:13px;
        li{
            display: flex;
            align-items: center;
            margin-top:9px;
            &:first-child{
                margin-top:0;
            }
            input{
                position: relative;
                appearance: none;
                width: 20px;
                height: 20px;
                border:1px solid #999;
                border-radius:3px;
                &:checked{
                    border-color:#fff;
                    background:#fff;
                }
                &:checked::after{
                    content:'';
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translate(-50%,-50%);
                    width: 20px;
                    height:14px;
                    background:url($img_ico + 'ico_check.png')no-repeat 0 3px;
                    background-size:contain;
                }
            }
            label{
                margin-left:10px;
            }
        }
    }
    &.list{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap:8px 9px;
        flex-wrap: wrap;
        > div{
            width: 23.6%;
        }
    
        input{
                @include hidden;
                &:checked + label{
                    color:#333;
                    border-color:#fff;
                    background:#fff;
                }
            }
        label{
            display: block;
            line-height:37px;
            text-align: center;
            border:1px solid #555;
            border-radius:8px;
        }
    }
    
}


@include MediaTablet{
    .view-layer-wrap{
        overflow: hidden;
        touch-action: none;
        .in{
            &.login{
                width: 100%;
                height: 100%;
                border-radius:0;
                .con{
                    @include flexCenter;
                    flex-direction: column;
                    width: 100%;
                    height:100%;
                    padding:3%;
                    border-radius:0;
                    .login-list{
                        width: 100%;
                        padding-top:10%;
                        ul{
                            li{
                                min-width:300px;
                                width:100%;
                            }
                        }
                    }
                }
            }
            
        }

       
    }
}
