@charset "utf-8";
@import '_utils.scss';


//다크모드
#wrap{
    position: relative;
    width: 100%;
    height: auto;
    min-height:100vh;
    padding-bottom:79px;
    @each $theme in dark, light{
        &.#{$theme}{
            @include theme($theme);
            //header
            header{
                .search-bar{
                    button{
                        background:url($img_ico+$theme+'/ico_search.png')no-repeat 0 0;
                    }
                }
                .ico-btn{
                    &.my{
                        background:url($img_ico+$theme+'/ico_my.png')no-repeat 0 0;
                    }
                    &.noti{
                        background:url($img_ico+ $theme+'/ico_noti.png')no-repeat 0 0;
                    }
                }
            }
            //메뉴
            .menu-tatto{
                ul li{
                    &.arrow.bot{
                        .tit{
                            background: url($img_ico+$theme+'/ico_arrow_bot.png')no-repeat right center;
                        }
                    }
                }
                .menu-btn button{
                    &.menu{
                        background:url($img_ico+$theme+'/ico_menu.png')no-repeat right center;
                    }
                    &.notice{
                        background:url($img_ico+ $theme+'/ico_noti.png')no-repeat 0 0;
                    }
                }
            }

            //리스트
            .img-list{
               .txt-box{
                div{
                    span{
                        background:url($img_ico+ $theme+'/ico_myname.png')no-repeat 0 -1px;
                    }
                    button{
                        background:url($img_ico+'/ico_heart_off.png')no-repeat 0 0;
                        background-size:contain;
                    }
                    button.on{
                        background:url($img_ico+ $theme+'/ico_heart.png')no-repeat 0 0;
                    }
                }
               }
            }

            //푸터
            footer{
                .inner{
                    &.mobile-footer{
                        button{
                            &.home{
                                background:url($img_ico+ $theme+'/ico_home.png')no-repeat 0 0;
                            }
                            &.menu{
                                background:url($img_ico+ $theme+'/ico_homeBtn.png')no-repeat 0 0;
                            }
                            &.my{
                                background:url($img_ico+ $theme+'/ico_my.png')no-repeat 0 0;
                            }
                        }
                    }
                }
            }



        }
    }
    &.dark{
        //header
        .search-bar{
            input{
                background:#282828;
            }
        }
        .header-btn{
            .upload{
                background-image: linear-gradient(#222, #222), linear-gradient(to right, #6EFF71, #3FD1FD);
            }
        }
        //메뉴
        .menu-tatto{
            ul li{
                .tit{
                    color:#c3c3c3;
                }
            }
        }
        //footer
        footer{
            background:#1a1a1a;
        }
    }
    &.light{
        //header
        .search-bar{
            input{
                border:1px solid #e1e1e1;
                background:#f6f6f6;
            }
        }
        .header-btn{
            .upload{
                background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #6EFF71, #3FD1FD);
            }
        }
        //메뉴
        .menu-tatto{
            ul li{
                .tit{
                    color:#555;
                }
            }
        }
        //footer
        footer{
            background:#efefef;
        }
    }
  } 


//헤더
header{
    padding-top:24px;
    .inner{
        @include flexBetween;
        //padding:0 50px 0 78px;
    }
    .logo{
        span{
            display: block;
            text-align: center;
            margin-top: 5px;
            font-size:12px;
        }
    }
    .search-bar{
        width:  704px ;
        position: relative;
        margin:0 3%;
        input{
            width: 100%;
            height:70px;
            padding-left:60px;
            border-radius:35px;
            font-size:1.5em;
            border:1px solid #444;
        }
        button{
            position: absolute;
            top:50%;
            left:24px;
            transform: translateY(-50%);
            width: 24px;
            height:24px;
            background-size: contain;
        }
    }
    .header-btn{
        @include flexCenter;
        gap:40px;
        .upload{
            width:280px;
            height: 60px;
            border:2px solid transparent;
            border-radius: 26px;
            background-color:transparent;
            background-origin: border-box;
            background-clip: content-box, border-box;
            span
            {   
                font-weight:900;
                font-size:1.625em;
                color: transparent;
                letter-spacing: -1px;
                background: linear-gradient(to right, #6CFD75 , #41D3F8 );
                background-clip: text;
                strong{
                    font-weight:900;
                    font-size:1.750rem;
                }
            }
        }
    }
}
//타투메뉴
.menu-tatto{
    padding-top:40px;
    .menu-btn{
        display: none;
    }
    ul{
        @include flexCenter;
        gap:36px;
        li{
            width: 80px;
            &.arrow.bot{
                a{
                    .bg-img{
                        background-image:none;
                    }
                    .tit{
                        padding-left:5px;
                        text-align: left;
                    }
                }
            }
            a{
                display:block;
                perspective: 1100px;
                .bg-img{
                    position: relative;
                    display:block;
                    width:100%;
                    height:0;
                    padding-top:100%;
                    margin-bottom:8px;
                    border-radius:30px;
                    transform-style: preserve-3d;
                    transition: all .4s;
                    & > span{
                        position:absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height:100%;
                        border-radius:30px;
                        backface-visibility: hidden;

                        &.front{
                            background:#282828 url(/public/img/common/img_menu.png)no-repeat 0 0;
                            background-size:contain;
                        }
                        &.back{
                            @include flexCenter;
                            font-weight:700;
                            background:#6EFF71;
                            transform: rotateY(180deg);
                            color:#111;
                        }
                    }
                }
                .tit{
                    display:block;
                    font-weight:700;
                    background-image: none;
                    text-align:center;
                   
                }                
            }
            &:hover{
                .bg-img{
                    transform: rotateY(180deg);
                }
                .tit{
                    display:none;
                }
            }
        }
    }
}

//푸터
footer{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
   .inner{
        @include flexBetween;
        padding:22px 50px;
        p{
            color:#bcbcbc;
            font-size:1em;
        }
        ul{
            @include flexBetween;
            gap:30px;
            &.txt{
                li{
                    a{ 
                        font-size:1.250em;
                        color:#7a7a7a;
                        font-weight:bold;
                    }
                }
            }
            &.ico{
                li{
                    a{
                        display:block;
                        width:35px;
                        height:35px;
                        background-size:contain;
                        &.facebook{
                            background:url($img_ico + 'ico_facebook.png')no-repeat 0 0;
                        }
                        &.twitter{
                            background:url($img_ico + 'ico_twitter.png')no-repeat 0 0;
                        }
                        &.instargram{
                            background:url($img_ico + 'ico_instagram.png')no-repeat 0 0;
                        }
                    }
                }
            }
        }

        &.mobile-footer{
            display: none;
        }
   }
}


@include MediaTablet{
    header{
        padding:3% 0;
        .logo{
            width: 30%;
            min-width:130px;
            img{
                width: 100%;
            }
            span{
                display: none;
            }
        }
        .header-btn{
            display: none;
        }
        .search-bar{
            margin:0 0 0 3%;
            input{
                height:50px;
                font-size:1.286em;
            }
        }
    }

    .menu-tatto{
        overflow:scroll;
        @include flexBetween;
        padding:3% 3% 3% 140px;
        background:#333;
        .menu-btn{
           position: absolute;
           left:0;
           display: block;
           padding-left:3%;
           z-index: 2;
           background:#333;
            button{
               width:40px;
               height:40px;
               text-indent:-99999px;
            }
        }
        ul{
            gap: 15px;
            li{
                width: 80px;
                a{
                    .bg-img{
                        display: none;
                    }
                    .tit{
                        padding: 10px 6px;
                        border-radius:10px;
                        color: #111 !important;
                        background:#6eff71;
                    }
                    &:hover{
                        .tit{
                            display: block;
                        }
                    }
                }

                &.arrow{
                    border-radius:10px;
                    background-color:#6eff71;
                }
            }
        }
    }

    footer{
        position: fixed;
        bottom:0;
        left:0;

        .inner{
            padding:3%;
            &.pc-footer{
                display: none;
            }
            &.mobile-footer{
                @include flexCenter;
                gap:20%;
                button{
                    width: 4vw;
                    height: 4vw;
                    min-width:32px;
                    min-height:32px;
                    text-indent:-99999px;
                    background-size:contain !important;

                    &.menu{
                      width:5vw;
                      height:5vw;
                      min-width:40px;
                      min-height:40px;
                    }
                    
                }
            }
        }
    }
}

@include MediaMobile{
    .menu-tatto{
        padding:3% 3% 3% 90px;
        .menu-btn{
            button{
                width: 30px;
                height:30px;
                background-size:contain !important;
            }
        }
    }
  
}


