@charset "utf-8";
@import '_utils.scss';

.list-menu{
    @include flexBetween;
    padding:25px 0;
    .list-btn{
        @include flexStart;
        button{
            position: relative;
            padding:0 15px;
            font-size:1.375em;
            font-weight:bold;
            &.on,
            &:hover{
                color:#6EFF71;
            }
            &::before{
                content:"";
                position: absolute;
                top: 50%;
                left:0;
                transform: translateY(-50%);
                width: 1px;
                height: calc(100% - 10px);
                background:#555;
            }
            &:first-child{
                &::before{
                    display: none;
                }
            }
        }

        &.round-btn{
            button{
                min-width:100px;
                padding:10.5px 24px;
                margin-right:15px;
                border-radius:25px;
                border-width: 2px;
                border-style: solid;
                font-size:1.5em;
                &::before{
                    display: none;
                }

                &:hover,
                &.on{
                    border-color:#6EFF71;
                    color:#6EFF71;
                }
            }
        }
        
    }
}

.img-list{
    ul{
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(auto-fit,minmax(310px,1fr));
        grid-template-rows: auto;

        li{
            flex-grow:1;
            div{
                cursor: pointer;
            }
            .img-box{
                img{
                    width: 100%;
                }
            }
            .txt-box{
                strong{
                    display: block;
                    width: 73%;
                    margin-bottom:5px;
                   @include textOverflow;
                }
                div{
                    @include flexBetween;
                    span{
                        display: block;
                        width: 45%;
                        padding-left:28px;
                        font-size:.875em;
                        @include textOverflow;
                        background-size:20px;
                    }
                    button{
                        display: block;
                        padding-left:31px;
                        line-height:24px;
                        font-size:.875em;
                    }
                }
            }
            &.none-list{
                @include flexCenter;
                height:58vh;
                font-size:3em;
                font-weight:bold;
            }
        }
    }
}

@include MediaTablet{
    .list-menu{
        .list-btn{
            button{
                font-size:1em;
            }
            &.round-btn{
                button{
                    min-width:70px;
                    padding:7px 20px;
                    font-size:1.141em;
                }
              
            }
        }
    }
    .img-list{
        ul{
            li.none-list{
                height:64vh;
            }
        }
    }

}


.view-layer-wrap{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    z-index: 3;
    .bg{
        position: absolute;
        top: 0;
        left:0;
        width: 100%;
        height:100%;
        background:rgba(0,0,0,.4);
    }
    .con{
        position: absolute;
        width: 90%;
        padding:3%;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        background:#ddd;
    }
}