@charset "utf-8";
@import '_utils.scss';

.main-list{
    .list-menu{
        @include flexBetween;
        padding:25px 0 50px;
        .list-btn{
            @include flexStart;
            button{
                position: relative;
                padding:0 15px;
                font-weight:bold;
                color:#555;
                &.on,
                &:hover{
                    color:#fff;
                }
                &::before{
                    content:"";
                    position: absolute;
                    top: 50%;
                    left:0;
                    transform: translateY(-50%);
                    width: 1px;
                    height: calc(100% - 10px);
                    background:#555;
                }
                &:first-child{
                    &::before{
                        display: none;
                    }
                }
            }

            &.round-btn{
                button{
                    padding:0 0 8px;
                    margin-right:30px;
                    font-size:1.375em;
                    &::before{
                        display: none;
                    }

                    &:hover,
                    &.on{
                        color:#6EFF71;
                        border-bottom:2px solid #6EFF71;
                    }
                }
            }
            
        }
    }

    .img-list{
        ul{
            display: grid;
            gap: 50px 20px;
            grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
            grid-template-rows: auto;

            li{
                flex-grow:1;
                padding: 20px;
                border-radius: 20px;
                background: #222;
                filter:drop-shadow(0 0 25px rgba(0,0,0,.5));
                .tit-box{
                    position: relative;
                    @include flexBetween;
                    padding-bottom:15px;
                    strong{
                        font-size:1.125em;
                        letter-spacing: -2px;
                        span{
                            display: inline-block;
                            vertical-align: middle;
                            margin-right:9px;
                        }
                    }
                    .layer-txt{
                        position: absolute;
                        top: 0;
                        right: 0;
                        padding:12px;
                        text-align: right;
                        background:#333;
                        border-radius:15px;
                        
                        button{
                            display: block;
                            width: 100%;
                            padding-left:27px;
                            font-size:0.938em;
                            margin-bottom:12px;
                            
                            &.noti{
                                background:url($img_ico + "ico_noti.png")no-repeat 0 0;
                                background-size:contain;
                            }
                            &.block{
                                margin-bottom:0;
                                background:url($img_ico + "ico_block.png")no-repeat 0 0;
                                background-size:contain;
                            }
                            &.close{
                                display:inline-block;
                                width: 14px;
                                height: 14px;
                                padding-left:0;
                                background:url($img_ico + "ico_close.png")no-repeat center;
                            }
                        }

                    }
                    .tit-btn{
                        @include flexCenter;
                        button{
                            padding:6px 14px;
                            border:1px solid #ccc;
                            border-radius:50px;
                            color:#ccc;
                            font-weight: 700;
                            letter-spacing: -1px;
                            &.follower{
                                &.on,
                                &:hover
                               {
                                    color:#333;
                                    border-color:#6EFF71;
                                    background-color: #6EFF71;
                               }
                            }
                          
                            &.tit-menu{
                                width: 24px;
                                height:26px;
                                padding:0;
                                border:0;
                                border-radius:none;
                                background-size:contain;
                                background-repeat: no-repeat;
                                background-position: 0 center;
                            }
                        }
                    }
                }
                .img-box{
                    img{
                        width: 100%;
                    }
                }
                .btn-box-wrap{
                    @include flexBetween;
                    padding:15px 0;
                    .btn-box{
                        @include flexCenter;
                        gap: 15px;
                        button{
                            width:24px;
                            height:24px;
                            background-repeat: no-repeat;
                            background-size:contain;
                        }
                        &.txt-btn{
                            button{
                                width: auto;
                                height:auto;
                                padding-left:30px;
                                font-size:.875em;
                                line-height:24px;
                            }
                        }
                    }
                }
                .txt-box{
                    display: flex;
                    justify-content: space-between;
                    align-items: end;
                    p{
                        width: 80%;
                        @include textOverflow2;
                        font-size:.875em;
                    }
                    button{
                        color:#777;
                        font-weight: 600;
                        font-size:.875em;
                    }
                }
                &.none-list{
                    @include flexCenter;
                    height:58vh;
                    font-size:3em;
                    font-weight:bold;
                }
            }
        }
    }
}

@include MediaTablet{
    .main-list{
        .list-menu{
            .list-btn{
                button{
                    font-size:1em;
                }
                &.round-btn{
                    button{
                        min-width:70px;
                        padding:7px 20px;
                        font-size:1.141em;
                    }
                
                }
            }
        }
        .img-list{
            ul{
                li.none-list{
                    height:64vh;
                }
            }
        }
    }

}
