@charset "utf-8";
@import '_utils.scss';

//폰트
$fontURL:'/public/font/';
@mixin mixins-fontBasic($fontWeight,$fileName) {
    font-family:'Pretendard';
    font-style:normal;
    font-weight:$fontWeight;
    src: 
    url($fontURL+$fileName+'.otf');
}
@font-face {
    @include mixins-fontBasic(300, 'Pretendard-Thin');
}
@font-face {
    @include mixins-fontBasic(400, 'Pretendard-ExtraLight');
}
@font-face {
    @include mixins-fontBasic(500, 'Pretendard-Light');
}
@font-face {
    @include mixins-fontBasic(600, 'Pretendard-Regular');
}
@font-face {
    @include mixins-fontBasic(700, 'Pretendard-Medium');
}
@font-face {
    @include mixins-fontBasic(800, 'Pretendard-Bold');
}
@font-face {
    @include mixins-fontBasic(900, 'Pretendard-ExtraBold');
}



/** reset **/
* {
  margin:0;
  padding:0;
  color:inherit;
  font-family:'Pretendard','Malgun Gothic',Dotum,'Apple Gothic',sans-serif;
  font-size:16px;
  box-sizing:border-box; 
  -webkit-tap-highlight-color:transparent !important;
  font-weight:600;
}
li{
  list-style:none;
}

img{
  border:none; 
  outline:none;
  image-rendering:-webkit-optimize-contrast;
}
button {
  border:none;
  cursor:pointer;
  box-sizing:border-box;
  background:transparent;
  color:inherit;
}

a{
  text-decoration: none;
  color:inherit;
}

input{
  border:0;
  font-size:inherit;
  color:inherit;
  ::placeholder{
    
  }
}
.dark{
  input::placeholder{
    color: #505050;
    font-weight:bold;
  }
}
.light{
  input::placeholder{
    color:#999;
  }
}

@include MediaMobile {
  *{
    font-size:14px;
  }
}