@charset "UTF-8";
#wrap {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-bottom: 79px;
}
#wrap.dark {
  color: #fff;
  background-color: #222;
  /*  .menu-tatto{
        ul li{
            &.arrow.bot{
                .tit{
                    background: url($img_ico+$theme+'/ico_arrow_bot.png')no-repeat right center;
                }
            }
        }
        .menu-btn button{
            &.menu{
                background:url($img_ico+$theme+'/ico_menu.png')no-repeat right center;
            }
            &.notice{
                background:url($img_ico+ $theme+'/ico_noti.png')no-repeat 0 0;
            }
        }
    }*/
}
#wrap.dark header .search-bar button {
  background: url("/public/img/ico/dark/ico_search.png") no-repeat 0 0;
}
#wrap.dark header .ico-btn.my {
  background: url("/public/img/ico/dark/ico_my.png") no-repeat 0 0;
}
#wrap.dark header .ico-btn.noti {
  background: url("/public/img/ico/dark/ico_noti.png") no-repeat 0 0;
}
#wrap.dark .img-list .tit-box .tit-btn button.tit-menu {
  background-image: url("/public/img/ico/dark/ico_more.png");
}
#wrap.dark .img-list .btn-box-wrap .btn-box button.like {
  background-image: url("/public/img/ico//ico_heart_off.png");
}
#wrap.dark .img-list .btn-box-wrap .btn-box button.like.on {
  background-image: url("/public/img/ico/dark/ico_heart.png");
}
#wrap.dark .img-list .btn-box-wrap .btn-box button.review {
  background-image: url("/public/img/ico/dark/ico_message.png");
}
#wrap.dark .img-list .btn-box-wrap .btn-box button.share {
  background-image: url("/public/img/ico/dark/ico_share.png");
}
#wrap.dark .img-list .btn-box-wrap .btn-box button.favorite {
  background-image: url("/public/img/ico/dark/ico_favorites.png");
}
#wrap.dark footer .inner.mobile-footer button.home {
  background: url("/public/img/ico/dark/ico_home.png") no-repeat 0 0;
}
#wrap.dark footer .inner.mobile-footer button.menu {
  background: url("/public/img/ico/dark/ico_homeBtn.png") no-repeat 0 0;
}
#wrap.dark footer .inner.mobile-footer button.my {
  background: url("/public/img/ico/dark/ico_my.png") no-repeat 0 0;
}
#wrap.light {
  color: #333;
  background-color: #fff;
  /*  .menu-tatto{
        ul li{
            &.arrow.bot{
                .tit{
                    background: url($img_ico+$theme+'/ico_arrow_bot.png')no-repeat right center;
                }
            }
        }
        .menu-btn button{
            &.menu{
                background:url($img_ico+$theme+'/ico_menu.png')no-repeat right center;
            }
            &.notice{
                background:url($img_ico+ $theme+'/ico_noti.png')no-repeat 0 0;
            }
        }
    }*/
}
#wrap.light header .search-bar button {
  background: url("/public/img/ico/light/ico_search.png") no-repeat 0 0;
}
#wrap.light header .ico-btn.my {
  background: url("/public/img/ico/light/ico_my.png") no-repeat 0 0;
}
#wrap.light header .ico-btn.noti {
  background: url("/public/img/ico/light/ico_noti.png") no-repeat 0 0;
}
#wrap.light .img-list .tit-box .tit-btn button.tit-menu {
  background-image: url("/public/img/ico/light/ico_more.png");
}
#wrap.light .img-list .btn-box-wrap .btn-box button.like {
  background-image: url("/public/img/ico//ico_heart_off.png");
}
#wrap.light .img-list .btn-box-wrap .btn-box button.like.on {
  background-image: url("/public/img/ico/light/ico_heart.png");
}
#wrap.light .img-list .btn-box-wrap .btn-box button.review {
  background-image: url("/public/img/ico/light/ico_message.png");
}
#wrap.light .img-list .btn-box-wrap .btn-box button.share {
  background-image: url("/public/img/ico/light/ico_share.png");
}
#wrap.light .img-list .btn-box-wrap .btn-box button.favorite {
  background-image: url("/public/img/ico/light/ico_favorites.png");
}
#wrap.light footer .inner.mobile-footer button.home {
  background: url("/public/img/ico/light/ico_home.png") no-repeat 0 0;
}
#wrap.light footer .inner.mobile-footer button.menu {
  background: url("/public/img/ico/light/ico_homeBtn.png") no-repeat 0 0;
}
#wrap.light footer .inner.mobile-footer button.my {
  background: url("/public/img/ico/light/ico_my.png") no-repeat 0 0;
}
#wrap.dark .search-bar input {
  background: #282828;
}
#wrap.dark .header-btn .upload {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#222)), -webkit-gradient(linear, left top, right top, from(#6EFF71), to(#3FD1FD));
  background-image: linear-gradient(#222, #222), linear-gradient(to right, #6EFF71, #3FD1FD);
}
#wrap.dark footer {
  background: #1a1a1a;
}
#wrap.light .search-bar input {
  border: 1px solid #e1e1e1;
  background: #f6f6f6;
}
#wrap.light .header-btn .upload {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff)), -webkit-gradient(linear, left top, right top, from(#6EFF71), to(#3FD1FD));
  background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #6EFF71, #3FD1FD);
}
#wrap.light .view-layer-wrap .in {
  background: #fff;
}
#wrap.light .view-layer-wrap .in .tit {
  border-bottom: 1px solid #ddd;
}
#wrap.light .view-layer-wrap .in .tit .close-btn::after, #wrap.light .view-layer-wrap .in .tit .close-btn::before {
  background: #555;
}
#wrap.light .view-layer-wrap .in .con .login-list ul li a.gogle {
  color: #333;
}
#wrap.light footer {
  background: #efefef;
}

header {
  padding: 16px 0 14px;
  border-bottom: 1px solid #333;
}
header .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3%;
}
header .logo span {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-size: 12px;
}
header .search-bar {
  width: 704px;
  position: relative;
}
header .search-bar input {
  width: 100%;
  height: 46px;
  padding-left: 60px;
  border-radius: 35px;
  border: 1px solid #444;
}
header .search-bar button {
  position: absolute;
  top: 50%;
  left: 24px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-size: contain;
}
header .header-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
header .header-btn .upload {
  width: 280px;
  height: 46px;
  border: 2px solid transparent;
  border-radius: 26px;
  background-color: transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
header .header-btn .upload span {
  font-weight: 900;
  font-size: 1.625em;
  color: transparent;
  letter-spacing: -1px;
  background: -webkit-gradient(linear, left top, right top, from(#6CFD75), to(#41D3F8));
  background: linear-gradient(to right, #6CFD75, #41D3F8);
  -webkit-background-clip: text;
          background-clip: text;
}
header .header-btn .upload span strong {
  font-weight: 900;
  font-size: 1.75rem;
}

.menu-tatto {
  padding-top: 40px;
}
.menu-tatto .menu-btn {
  display: none;
}
.menu-tatto ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.menu-tatto ul li {
  width: 74px;
  text-align: center;
}
.menu-tatto ul li a {
  display: block;
  height: 74px;
  line-height: 74px;
  border-radius: 20px;
  background: url("/public/img/common/img_menu.png") no-repeat 0 0;
}
.menu-tatto ul li a:hover {
  color: #222;
  font-weight: 800;
  background: #6EFF71;
}
.menu-tatto ul li.normal a {
  background: rgba(85, 85, 85, 0.5);
  border: 1px solid #555;
}
.menu-tatto ul li.normal a:hover {
  color: #fff;
}
.menu-tatto ul li.arrow a span {
  background: url("");
}
.menu-tatto ul li.select a {
  background-image: url("/public/img/common/ico_menu.png");
  background-repeat: no-repeat;
  background-position: center;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 50px;
}
footer .inner p {
  color: #bcbcbc;
  font-size: 1em;
}
footer .inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
footer .inner ul.txt li a {
  font-size: 1.25em;
  color: #7a7a7a;
  font-weight: bold;
}
footer .inner ul.ico li a {
  display: block;
  width: 35px;
  height: 35px;
  background-size: contain;
}
footer .inner ul.ico li a.facebook {
  background: url("/public/img/ico/ico_facebook.png") no-repeat 0 0;
}
footer .inner ul.ico li a.twitter {
  background: url("/public/img/ico/ico_twitter.png") no-repeat 0 0;
}
footer .inner ul.ico li a.instargram {
  background: url("/public/img/ico/ico_instagram.png") no-repeat 0 0;
}
footer .inner.mobile-footer {
  display: none;
}

@media (max-width: 1080px) {
  header {
    padding: 3% 0;
  }
  header .logo {
    width: 30%;
    min-width: 130px;
  }
  header .logo img {
    width: 100%;
  }
  header .logo span {
    display: none;
  }
  header .header-btn {
    display: none;
  }
  header .search-bar {
    margin: 0 0 0 3%;
  }
  header .search-bar input {
    height: 50px;
    font-size: 1.286em;
  }
  .menu-tatto {
    overflow: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3% 3% 3% 140px;
    background: #333;
  }
  .menu-tatto .menu-btn {
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    padding-left: 3%;
    z-index: 2;
    background: #333;
  }
  .menu-tatto .menu-btn button {
    width: 40px;
    height: 40px;
    text-indent: -99999px;
  }
  .menu-tatto ul {
    gap: 15px;
  }
  .menu-tatto ul li {
    width: 80px;
  }
  .menu-tatto ul li a .bg-img {
    display: none;
  }
  .menu-tatto ul li a .tit {
    padding: 10px 6px;
    border-radius: 10px;
    color: #111 !important;
    background: #6eff71;
  }
  .menu-tatto ul li a:hover .tit {
    display: block;
  }
  .menu-tatto ul li.arrow {
    border-radius: 10px;
    background-color: #6eff71;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  footer .inner {
    padding: 3%;
  }
  footer .inner.pc-footer {
    display: none;
  }
  footer .inner.mobile-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20%;
  }
  footer .inner.mobile-footer button {
    width: 4vw;
    height: 4vw;
    min-width: 32px;
    min-height: 32px;
    text-indent: -99999px;
    background-size: contain !important;
  }
  footer .inner.mobile-footer button.menu {
    width: 5vw;
    height: 5vw;
    min-width: 40px;
    min-height: 40px;
  }
}
@media (max-width: 768px) {
  .menu-tatto {
    padding: 3% 3% 3% 90px;
  }
  .menu-tatto .menu-btn button {
    width: 30px;
    height: 30px;
    background-size: contain !important;
  }
}
.view-layer-wrap .in {
  text-align: center;
  border-radius: 30px;
  background: #333;
}
.view-layer-wrap .in .tit {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
  border-bottom: 1px solid #f8f8f8;
}
.view-layer-wrap .in .tit h1 {
  font-size: 1.125em;
}
.view-layer-wrap .in .tit .close-btn {
  position: absolute;
  top: 50%;
  left: 3%;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  z-index: 9;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.view-layer-wrap .in .tit .close-btn::after, .view-layer-wrap .in .tit .close-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  display: block;
  width: 1.5px;
  height: 20px;
  border-radius: 40px;
  background: #fff;
}
.view-layer-wrap .in .tit .close-btn::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.view-layer-wrap .in .tit .close-btn::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.view-layer-wrap .in.login {
  width: 568px;
}
.view-layer-wrap .in.login .con {
  padding: 147px 3% 76px;
}
.view-layer-wrap .in.login .con h2 img {
  width: 16em;
}
.view-layer-wrap .in.login .con h2 span {
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #ccc;
}
.view-layer-wrap .in.login .con .login-list {
  padding-top: 140px;
}
.view-layer-wrap .in.login .con .login-list ul li {
  width: 350px;
  height: 52px;
  margin: 0 auto 13px;
}
.view-layer-wrap .in.login .con .login-list ul li a {
  display: block;
  line-height: 52px;
  border-radius: 25px;
  color: #fff;
  font-weight: 700;
}
.view-layer-wrap .in.login .con .login-list ul li a.gogle {
  border: 1px solid #d9d9d9;
  line-height: 50px;
  background: url("/public/img/ico/ico_gogle.png") no-repeat 30px center;
}
.view-layer-wrap .in.login .con .login-list ul li a.kakao {
  color: #444;
  background: #FFEA12 url("/public/img/ico/ico_kakao.png") no-repeat 30px center;
}
.view-layer-wrap .in.login .con .login-list ul li a.facebook {
  background: #1877F2 url("/public/img/ico/ico_face.png") no-repeat 30px center;
}
.view-layer-wrap .in.login .con .login-list ul li a.naver {
  background: #00C73C url("/public/img/ico/ico_naver.png") no-repeat 30px center;
}
.view-layer-wrap .in.profile {
  width: 568px;
}
.view-layer-wrap .in.profile .con {
  padding: 36px 34px;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li {
  padding-bottom: 36px;
  text-align: left;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li strong {
  display: block;
  margin-bottom: 15px;
  font-size: 1.125em;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li strong span {
  color: #777;
  font-size: 0.938em;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li strong span.col {
  color: #6EFF71;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .input-box {
  position: relative;
  margin-bottom: 15px;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .input-box input {
  width: 100%;
  line-height: 44px;
  padding-left: 18px;
  border: 1px solid #555;
  border-radius: 10px;
  background: none;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .input-box input::-webkit-input-placeholder {
  color: #ccc;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .input-box input::-moz-placeholder {
  color: #ccc;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .input-box input:-ms-input-placeholder {
  color: #ccc;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .input-box input::-ms-input-placeholder {
  color: #ccc;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .input-box input::placeholder {
  color: #ccc;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .input-box .txt-length {
  position: absolute;
  top: 50%;
  right: 18px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #555;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .input-box .txt-length span {
  color: #777;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .ps-txt {
  padding-left: 23px;
  margin-top: 5px;
  font-size: 0.875em;
  color: #ff5a5a;
  background: url("/public/img/ico/ico_x.png") no-repeat 0 center;
  background-size: contain;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .ps-txt:first-child {
  margin-top: 0;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .ps-txt.on {
  color: #2272ff;
  background: url("/public/img/ico/ico_v.png") no-repeat 0 center;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .basic-list {
  padding-top: 9px;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .basic-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  padding-left: 8px;
  font-size: 0.813em;
  color: #777;
  line-height: 1.6;
}
.view-layer-wrap .in.profile .con .profile-form > ul > li .basic-list li::before {
  clear: both;
  content: "·";
  display: block;
}
.view-layer-wrap .in.profile .con .profile-form button {
  width: 300px;
  height: 56px;
  border-radius: 50px;
  font-size: 1.25em;
  color: #222;
  font-weight: 800;
  background: #6eff71;
}
.view-layer-wrap .in.block {
  width: 614px;
}
.view-layer-wrap .in.block .con .con-in {
  padding: 3%;
}
.view-layer-wrap .in.block .con .con-in p {
  padding-bottom: 3%;
}
.view-layer-wrap .in.block .con .con-in select {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  color: #555;
}
.view-layer-wrap .in.block .con .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #111;
}
.view-layer-wrap .in.block .con .btn-wrap button {
  width: 100%;
  height: 50px;
  border-right: 1px solid #111;
}
.view-layer-wrap .in.block .con .btn-wrap button.t1 {
  color: #6EFF71;
  border-right: 0;
}

.check-box ul {
  padding-bottom: 13px;
}
.check-box ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 9px;
}
.check-box ul li:first-child {
  margin-top: 0;
}
.check-box ul li input {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  border-radius: 3px;
}
.check-box ul li input:checked {
  border-color: #fff;
  background: #fff;
}
.check-box ul li input:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 20px;
  height: 14px;
  background: url("/public/img/ico/ico_check.png") no-repeat 0 3px;
  background-size: contain;
}
.check-box ul li label {
  margin-left: 10px;
}
.check-box.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 8px 9px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.check-box.list > div {
  width: 23.6%;
}
.check-box.list input {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  margin: -1px !important;
}
.check-box.list input:checked + label {
  color: #333;
  border-color: #fff;
  background: #fff;
}
.check-box.list label {
  display: block;
  line-height: 37px;
  text-align: center;
  border: 1px solid #555;
  border-radius: 8px;
}

@media (max-width: 1080px) {
  .view-layer-wrap {
    overflow: hidden;
    -ms-touch-action: none;
        touch-action: none;
  }
  .view-layer-wrap .in.login {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .view-layer-wrap .in.login .con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 3%;
    border-radius: 0;
  }
  .view-layer-wrap .in.login .con .login-list {
    width: 100%;
    padding-top: 10%;
  }
  .view-layer-wrap .in.login .con .login-list ul li {
    min-width: 300px;
    width: 100%;
  }
}