.main-list .list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0 50px;
}
.main-list .list-menu .list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-list .list-menu .list-btn button {
  position: relative;
  padding: 0 15px;
  font-weight: bold;
  color: #555;
}
.main-list .list-menu .list-btn button.on, .main-list .list-menu .list-btn button:hover {
  color: #fff;
}
.main-list .list-menu .list-btn button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1px;
  height: calc(100% - 10px);
  background: #555;
}
.main-list .list-menu .list-btn button:first-child::before {
  display: none;
}
.main-list .list-menu .list-btn.round-btn button {
  padding: 0 0 8px;
  margin-right: 30px;
  font-size: 1.375em;
}
.main-list .list-menu .list-btn.round-btn button::before {
  display: none;
}
.main-list .list-menu .list-btn.round-btn button:hover, .main-list .list-menu .list-btn.round-btn button.on {
  color: #6EFF71;
  border-bottom: 2px solid #6EFF71;
}
.main-list .img-list ul {
  display: grid;
  gap: 27px 27px;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-template-rows: auto;
}
.main-list .img-list ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 20px;
  border-radius: 20px;
  background: #222;
  -webkit-filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.5));
}
.main-list .img-list ul li .tit-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 15px;
}
.main-list .img-list ul li .tit-box strong {
  font-size: 1.125em;
  letter-spacing: -2px;
}
.main-list .img-list ul li .tit-box strong span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 9px;
}
.main-list .img-list ul li .tit-box .layer-txt {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px;
  text-align: right;
  background: #333;
  border-radius: 15px;
}
.main-list .img-list ul li .tit-box .layer-txt button {
  display: block;
  width: 100%;
  padding-left: 27px;
  font-size: 0.938em;
  margin-bottom: 12px;
}
.main-list .img-list ul li .tit-box .layer-txt button.noti {
  background: url("/public/img/ico/ico_noti.png") no-repeat 0 0;
  background-size: contain;
}
.main-list .img-list ul li .tit-box .layer-txt button.block {
  margin-bottom: 0;
  background: url("/public/img/ico/ico_block.png") no-repeat 0 0;
  background-size: contain;
}
.main-list .img-list ul li .tit-box .layer-txt button.close {
  display: inline-block;
  width: 14px;
  height: 14px;
  padding-left: 0;
  background: url("/public/img/ico/ico_close.png") no-repeat center;
}
.main-list .img-list ul li .tit-box .tit-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-list .img-list ul li .tit-box .tit-btn button {
  padding: 6px 14px;
  border: 1px solid #ccc;
  border-radius: 50px;
  color: #ccc;
  font-weight: 700;
  letter-spacing: -1px;
}
.main-list .img-list ul li .tit-box .tit-btn button.follower.on, .main-list .img-list ul li .tit-box .tit-btn button.follower:hover {
  color: #333;
  border-color: #6EFF71;
  background-color: #6EFF71;
}
.main-list .img-list ul li .tit-box .tit-btn button.tit-menu {
  width: 24px;
  height: 26px;
  padding: 0;
  border: 0;
  border-radius: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 0 center;
}
.main-list .img-list ul li .img-box img {
  width: 100%;
}
.main-list .img-list ul li .btn-box-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}
.main-list .img-list ul li .btn-box-wrap .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.main-list .img-list ul li .btn-box-wrap .btn-box button {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: contain;
}
.main-list .img-list ul li .btn-box-wrap .btn-box.txt-btn button {
  width: auto;
  height: auto;
  padding-left: 30px;
  font-size: 0.875em;
  line-height: 24px;
}
.main-list .img-list ul li .txt-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.main-list .img-list ul li .txt-box p {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 0.875em;
}
.main-list .img-list ul li .txt-box button {
  color: #777;
  font-weight: 600;
  font-size: 0.875em;
}
.main-list .img-list ul li.none-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58vh;
  font-size: 3em;
  font-weight: bold;
}

@media (max-width: 1080px) {
  .main-list .list-menu .list-btn button {
    font-size: 1em;
  }
  .main-list .list-menu .list-btn.round-btn button {
    min-width: 70px;
    padding: 7px 20px;
    font-size: 1.141em;
  }
  .main-list .img-list ul li.none-list {
    height: 64vh;
  }
}